/* MAIN CONTAINER */
.form-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  padding: 0 20px;
  align-items: flex-start;
}

/* LEFT SIDE */
.form-holder {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* RIGHT SIDE */
.form-right {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  height: fit-content;
}

/* PAYMENT */
.payment-method {
  border: 1px solid #d4d3d3;
  padding: 20px;
  border-radius: 10px;
}

.payment-method legend {
  font-size: 18px;
  font-weight: 600;
}

.payment-options {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.payment-option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 150px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

.payment-option.selected {
  background-color: rgb(212, 52, 52);
  color: white;
}

.payment-text {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.payment-logo {
  height: 30px;
  object-fit: contain;
}

/* FORM TITLE */
.form-title h2 {
  font-size: 22px;
  margin: 15px 0;
}

/* INPUT ROW */
.form-row {
  display: flex;
  gap: 15px;
}

/* INPUTS */
.form-input1,
.form-input2 {
  border: 1px solid gray;
  border-radius: 6px;
  height: 45px;
  padding: 0 15px;
  font-size: 14px;
}

.form-input1 {
  flex: 1;
}

.form-input2 {
  width: 100%;
}

/* BUTTON */
.form-submit {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: rgb(182, 4, 4);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

.form-submit:hover {
  background-color: rgb(192, 18, 18);
}


::placeholder{
    font-size: 13px;
}

/* ---------------- RESPONSIVE ---------------- */

/* Tablet */
@media (max-width: 900px) {
  .form-container {
    flex-direction: column;
  }

  .form-right {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    
  }

  

  .payment-options {
    flex-direction: column;
  }

  .payment-option {
    width: 100%;
  }
}