.footer-conateiner{
    width: 100%;
    height: auto;
}

.footer-holder{
    width: 100%;
    height: auto;
    padding-left: 10%;
    background-color: rgb(51, 49, 49);

  
}

.footer-top{
     padding: 3%;
    display: flex;
    flex-direction: row;
     width: 100%;
    height: auto;
    gap: 5vw;
    color: white;
   
}

.footer-top1{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1vw;
}


.footer-top1 h3{
   font-size: 1.6vw;
}

.footer-top1 p{
   font-size: 1vw;
   color: rgba(255, 255, 255, 0.904);
}



.footer-contact-holder{
      display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-contact{
      display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.9vw;
}

.footer-contact span{
     font-size: 1vw;
}

.call{
    color: rgb(214, 5, 5);
    font-size: 1.4vw;
}

.footer-input{
      display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-input input{
   width: 12vw;
   height: 3vw;
   padding-left: 10px;
}

.footer-input button{
   width: 4vw;
   height: 3vw;
   border: none;
   outline: none;
   background-color: rgb(214, 8, 8);
   color: white;
   font-size: 1vw;
   font-weight: 600;
}

::placeholder{
    font-size: 0.7vw;
}

.footer-top2{
    display: flex;
    flex-direction: column;
     width: 30%;
       gap: 1vw;
}


.footer-top2 h3{
   font-size: 1.6vw;
}

.footer-top2 p{
   font-size: 1vw;
   color: rgba(255, 255, 255, 0.904);
}

.footer-top3{
    display: flex;
    flex-direction: column;
     width: 30%;
       gap: 1vw;
}


.footer-top3 h3{
   font-size: 1.6vw;
}


.gallery1{
      display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.gallery1 img{
    width: 6vw;
    height: 7vw;

}


.footer-bottom{
    background-color: rgb(231, 229, 229);
    width: 100%;
    height: 2vw;
    text-align: center;
    padding: 2%;
}

.footer-bottom span{
  font-size: 1.2vw;
}