.login-container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #f78b8b62, #bfe2fa8e);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* FORM */
.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  color: rgb(116, 115, 115);
  background: white;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* HEADER */
.form-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-title {
  font-size: 1.8rem;
  color: rgb(54, 53, 53);
}

/* INPUTS */
.form-input {
  width: 100%;
  height: 45px;
  border: 1px solid rgb(78, 77, 77);
  border-radius: 5px;
  padding: 0 12px;
  font-size: 14px;
}

/* FOOTER */
.form-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  gap: 5px;
}

.form-footer span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-pass,
.toggle-state {
  cursor: pointer;
  font-size: 14px;
}

.toggle-state {
  color: #007bff;
}

/* BUTTON */
.form-button {
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

.form-button:hover {
  background-color: #333;
}