@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    text-decoration: none;
    list-style: none;
    background-color: rgb(243, 241, 241);
}

.product-container{
    width: 85%;
    margin-top: 5%;
    margin-left: 10vw;
}

.list-header h1{
   font-size: 3vw;
   font-weight: bold;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    column-gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.product-card{
    width: 20vw;
    border: 1px solid rgb(226, 223, 223);
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;

}

.product-card:hover{
    box-shadow: 0px 4px 12px rgba(14, 14, 14, 0.199);
}

.product-image{
    position: relative;
}

.product-image img{
    width: 100%;
    height: 21vw;
    transform: scale(0.8);
    transition: transfrom 0.5s ease;
}

.product-image img:hover{
    transform: scale(1);

}

.product-card h3{
    font-size: 1.7vw;
    margin: 8px 0;
    margin-bottom: 10px;
}

.product-card p{
    font-size: 1.7vw;
    color: red;
    padding-bottom: 15px;
}

.product-card span{
    font-size: 1vw;
    margin-bottom: 5%;
}

.divider{
    border: 1px solid rgb(126, 123, 123);
}