.navbar-container {
  width: 100%;
  height: auto;
}

.navbar-holder {
  width: 100%;
  height: auto;
}

.navbar-top {
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 5vw;
  background-color: rgb(238, 236, 236);
}


.navbar-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}

.navbar-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vw;
}

.nav-social-icon{
  font-size: 1vw;
}

.nav-social-icon:hover{
 color: rgb(121, 3, 3);
 cursor: pointer;
}

.navbar-top-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6vw;
  margin-right: -5%;
}

.nav-link{
  cursor: pointer;
  font-size: 1.2vw;
}

.nav-link:hover{
 color: rgb(161, 5, 5);
}

.nav-social-icon {
  font-size: 1vw;
  color: rgb(116, 114, 114);
}



.navbar-down {
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 5vw;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.795);
  background-color: rgb(141, 138, 138);
}

.nav-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.nav-email span{
font-size: 1vw;
}


.navbar-down img {
  width: 8vw;
  height: 4vw;
  cursor: pointer;
}

.nav-down-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  margin-right: -11%;
}
.nav-down-input input{
  width: 35vw;
  height: 3vw;
  outline: none;
  border: 1px solid rgb(77, 76, 76);
  border-radius: 3px;
  padding-left: 40px;
  font-size: 1vw;
  
  
}

.nav-down-input input::placeholder{
  color: rgb(168, 168, 167);
}



.nav-down-input button{
 width: 5vw;
 height: 3vw;
 border-radius: 3px;
 border: none;
 outline: none;
 background-color: rgb(211, 50, 50);
 color: rgb(255, 235, 181);
 font-size: 1.2vw;
 font-weight: 600;
 cursor: pointer;
 transition: 0.3s ease-in-out;
}

.nav-down-input button:hover{
    background-color: rgb(180, 31, 31);
}

.inputholder{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.search-icon{
  display: flex;
  position: absolute;
  left: 10px;
  font-size: 1.4vw;
}

.nav-down-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
 
}

.cart-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  position: relative;

}

.cart-btn p{
  position: absolute;
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 0 0.2vw;
  font-size: 0.7vw;
  right: -5px;
  top: 0;
}

.nav-down-right span{
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.897);
}


.nav-down-right button{
   width: 5vw;
 height: 3vw;
 border-radius: 3px;
 border: none;
 outline: none;
 background-color: rgb(211, 50, 50);
 color: rgb(255, 235, 181);
 font-size: 1.2vw;
 font-weight: 600;
 cursor: pointer;
 transition: 0.3s ease-in-out;
}

.nav-down-right button:hover{
    background-color: rgb(180, 31, 31);
}

.cart-icon{
  display: flex;
  font-size: 1.8vw;
  font-weight: 800;
 color: rgba(255, 255, 255, 0.897);
 cursor: pointer;
 transition: 0.3s ease-in-out;

}

.cart-icon:hover{
 color: rgba(236, 233, 233, 0.897);

}


.profile-dropdown{
  display: flex;
  flex-direction: row;
  width: 9vw;
  gap: 1rem;
  align-items: center;
  padding-right: 30px;
  position: relative;
}

.profile-dropdown img{
  width: 2vw;
  height: 2vw;
  background-color: rgb(218, 5, 5);
  border-radius: 50%;
  padding-top: 5px;
}

.nav-arrow{
  font-size: 1.4vw;
  cursor: pointer;
}




.drop-down-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 17rem;
  z-index: 9999;
  background-color: rgba(58, 57, 57, 0.945);
  width: 13vw;
  padding: 1rem;
  margin-left: -6.7rem;
  color: white;
  transition: 0.3s ease;
 
 
}

.drop-down-container ul {
  display: flex;
  flex-direction: column;
 list-style: none;
  gap: 0.8rem;

 
}

.drop-down-container ul li{
  cursor: pointer;
  padding: 0.3rem;
  width: 10vw;
   justify-content: center;
  text-align: center;
  font-size: 1vw;
}

.drop-down-container ul li:hover{
  background-color: rgb(253, 251, 251);
  color: black;
}

.layer{
  width: 2vw;
  height: 2vw;
  background-color: rgba(58, 57, 57, 0.945);
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: -15px;
  right: 5px;
}

.drop-down-btn{
  display: flex;
  justify-content: center;
  justify-content: center;
  padding: 0.6vw;
  background-color: rgb(197, 4, 4);
  margin-left: -1rem;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  margin-left: 2px;
  cursor: pointer;
}

.drop-down-btn:hover{
  background-color: rgb(209, 195, 195);
  color: black;
}